
  <h4>Todo list</h4>

  <div>
    <input [(ngModel)]="newTask" type="text">
    <button type="button" (click)="addToList()">ADD Task</button>
  </div>

  <section *ngIf="items">
    <!-- <span>{{item.title}}</span>
    <button type="button" style="cursor:pointer" (click)="deleteTolist(index)"></button> -->
    <ul>
      <li *ngFor="let item of items; let index= index;">
        <input type="checkbox" (click)=toggleComplete(x) [checked]="item.completed">
        <label for="">{{item.title}}</label>
        <button type="button" style="cursor:pointer" (click)="deleteTolist(index)"></button>
      </li>
    </ul>
  </section>
